<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HI</title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="description" content="">



    </head>
    <body>
        <div class="container">
            {% autoescape off %}
            {{ new_board }}
            {% endautoescape off %}
        </div>
        <form method="post">
            {% csrf_token %}
            <label for="move">Make move:</label><br>
            <input type="text" id="move" name="move"><br>
            
          </form>

          <a href="{% url 'log_out' %}" class='btn btn-lg'>Log Out</a>
          <a href="{% url 'account' %}" class='btn btn-lg'>Account</a>
          <form method="post" acc_id='acc'>
            {% csrf_token %}
            <input type="submit" name="account_button" value="Your Account"><br>
          </form>
          
    </body>
</html>